<p id="notice"><%= notice %></p>

<h1>Listing Matchteams</h1>

<table>
  <thead>
    <tr>
      <th>Match</th>
      <th>Player</th>
      <th>Out</th>
      <th>Batting order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matchteams.each do |matchteam| %>
      <tr>
        <td><%= matchteam.match_id %></td>
        <td><%= matchteam.player_id %></td>
        <td><%= matchteam.out %></td>
        <td><%= matchteam.batting_order %></td>
        <td><%= link_to 'Show', matchteam %></td>
        <td><%= link_to 'Edit', edit_matchteam_path(matchteam) %></td>
        <td><%= link_to 'Destroy', matchteam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Matchteam', new_matchteam_path %>
