<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :home %><br>
   <%= f.collection_select :home, Team.all, :id, :full_name, {:prompt => 'Please select home team'} %>
  </div>
  <div class="field">
    <%= f.label :away %><br>
   <%= f.collection_select :away, Team.all, :id, :full_name, {:prompt => 'Please select away team'} %>
  </div>
  <div class="field">
    <%= f.label :overs %><br>
    <%= f.number_field :total_overs, min: 1, max: 100  %>
  </div>
  <div class="field">
    <%= f.label :over_count %><br>
    <%= f.number_field :over_count, :disabled=>true, min: 1, max: 100  %>
  </div>
  <div class="field">
    <%= f.label :first_to_bat %><br>
    <%= f.collection_select :first_to_bat, Team.all, :id, :full_name, {:prompt => 'Please select team to bat first'} %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
