<p id="notice"><%= notice %></p>
<br>
<h4>
  <%= @match.date.strftime('%A, %d %B %Y') %>
</h4>

<h2>
  <%= team_full_name(@match.home) %> v.s.
  <%= team_full_name(@match.away) %>
</h2>

<p>
  <strong>Format:</strong>
  <%= @match.total_overs %> overs<br>
  <%= link_to 'See Scoreboard', scoreboard_match_path(@match.id) %></td>
</p>


<div class="row">
  <div class="col-md-4">
  <div class="well">
  <b><ins><%= team_name(@match.home) %></ins></b>
  <ul>
  <% get_hometeam_by_match(@match).each do |player| %>
  <li><%= player_name(player) %></li>
  <% end %>
  </ul>
  </div></div>


  <div class="col-md-4">
  <div class="well">
  <b><ins><%= team_name(@match.away) %></ins></b>
  <ol>
  <% get_awayteam_by_match(@match).each do |player| %>
  <li><%= player_name(player) %></li>
  <% end %>
  </ol>
  </div></div>
  
  <div class="col-md-4">
  <div class="well">
  <b><ins>Overs</ins></b>
  <ol>
  <% (@match.overs).each do |over| %>
  <li>|  
  <% over.balls.each do |ball|%>
    <%= ball.runs %> | 
     <% end %>
  </li>
  <% end %>
  </ol>
  <hr>
  <% if check_balls_have_bowlers(@match.id) %>
  <%= link_to 'Complete missing bowler information for record', edit_ball_path(get_balls_with_no_bowlers(@match.id).first.id) %>
  <% end %>
  </div></div>
  
 </div>
<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
